.navbar {
  background-color: black;
  color: bisque;
  text-decoration: none;
  font-size: larger;
}

.card button {
  margin-top: auto;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 5px;
}

.card {
  width: 1000%;
  height: 1000%;
  background-color: bisque;
  float: left;
  margin-left: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;

}

.card-body {
  display: flex;
  flex-direction: column;
}



.container {
  height: 100%;
  width: auto;
  background-color: bisque;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.card:hover {
  background-color: bisque;
  color: rgb(20, 4, 245);
  transform: scale(1.03);

}


.shelf {
  width: 1600px;
  height: 350px;
  background-color: bisque;
  border-radius: 20px;
  display: flex;
  margin: auto;
}

.bookshelfitem {
  text-align: center;
}

.search {
  padding-top: 60px;
  margin-left: 530px;
}

.thumbnail {
  width: 800px;
  height: 450px;
  margin: 0;
  padding: 0;
}

.inputsearch {

  margin: auto;
  width: 800px;
  height: 70px;
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
  font-size: 20px;


}

.card-title {
  font-weight: bolder;
}

.card-text {
  font-style: italic;
  color: red;
}

.pol {
  background-image: url(../src/a.webp);

}

.header-one {
  padding: 5%;
  color: bisque;
  font-size: 400%;
}

.home-style {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../src/pexels.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  height: 100%;
  color: bisque;
  display: block;
  text-align: center;
}

.para {
  font-size: 150%;
}

.imaget{
  margin-top: 20px;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(79deg, #2FA5DB, #A8A3A8 48%, #E753E0);
}

.auth-form-container,
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5rem;
  border: 1px solid rgb(12, 10, 10);
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  opacity: 0.6;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  opacity: 0.2;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(37, 88, 199);
}

.link-btn {
  background: none;
  color: rgb(19, 12, 12);
  text-decoration: underline;
}

.login-dnt {
  border-radius: 10px;
}

.rrr {
  margin-left: 20px;
}